body {
    font-family: sans-serif;
    background-image: url('../images/loading.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

text {
    fill:black;
    font-family: sans-serif
}

svg { display: block; }

div.settings { float:right; padding-right:5px; }

#settings-panel {
    visibility: hidden;
    position: absolute;
    background: lightgrey;
    z-index: 1;
}

div.graph {
    display: inline-block;
    vertical-align: top;
}

rect { stroke: none }

rect.plot { clip-path: inset(0px 0px 0px 0px)}
rect.labeled { stroke: purple;
               stroke-opacity: 0.5;
               stroke-width: 5px;}

h1 { text-align: center; font-size: 24px }

div.port-tip {
    font-size: 12px;
    background: lightblue;
    padding: 5px;
    width: 300px;
    overflow: scroll;
}

div.types {
    padding-top: 10px;
}
.types a {
    display: block;
    float: left;
    width: 24px;
    height: 24px;
    text-align: center;
    font-family: monospace;
}

.pp_link { background: lightblue}
.pi_link { background: greenyellow}
.ip_link { clear: left;
           background: yellowgreen }
.ii_link { background: lightgreen}

a.types_selected { font-weight: bold }

text.x-axis-label {
    dominant-baseline: hanging;
    text-anchor: middle;
}

text.y-axis-label {
    text-anchor: middle;
}

.hidden { display:none }
div.tsharkfilter {
    clear: both;
    width: 80%;
}

.tfilter {
    font-size: 10px;
}
